html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-image: url("./coins-1726618_1920.jpg");
  background-size: cover;
}

.newCurrency {
  color: crimson;
}
